@charset "UTF-8";
@import url(http://fonts.googleapis.com/css?family=Bad+Script|Raleway:500,700,400,300);
/* line 5, ../../../../../RailsInstaller/Ruby1.9.3/lib/ruby/gems/1.9.1/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

/* line 22, ../../../../../RailsInstaller/Ruby1.9.3/lib/ruby/gems/1.9.1/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1; }

/* line 24, ../../../../../RailsInstaller/Ruby1.9.3/lib/ruby/gems/1.9.1/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none; }

/* line 26, ../../../../../RailsInstaller/Ruby1.9.3/lib/ruby/gems/1.9.1/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 28, ../../../../../RailsInstaller/Ruby1.9.3/lib/ruby/gems/1.9.1/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

/* line 30, ../../../../../RailsInstaller/Ruby1.9.3/lib/ruby/gems/1.9.1/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none; }
  /* line 103, ../../../../../RailsInstaller/Ruby1.9.3/lib/ruby/gems/1.9.1/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

/* line 32, ../../../../../RailsInstaller/Ruby1.9.3/lib/ruby/gems/1.9.1/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none; }

/* line 116, ../../../../../RailsInstaller/Ruby1.9.3/lib/ruby/gems/1.9.1/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

/* line 1, ../sass/includes/_mixins.scss */
.clearfix {
  *-zoom: 1;
  overflow: hidden; }

@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?-mgj14l");
  src: url("../fonts/icomoon.eot?#iefix-mgj14l") format("embedded-opentype"), url("../fonts/icomoon.woff?-mgj14l") format("woff"), url("../fonts/icomoon.ttf?-mgj14l") format("truetype"), url("../fonts/icomoon.svg?-mgj14l#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }
/* line 12, ../sass/includes/_icon.scss */
[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

/* line 26, ../sass/includes/_icon.scss */
.icon-facebook2:before {
  content: "\ea8d"; }

/* line 30, ../sass/includes/_icon.scss */
.icon-instagram:before {
  content: "\ea90"; }

/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */
/* line 2, ../sass/base/_base.scss */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  margin: 0;
  padding: 0; }

/* line 2, ../sass/base/_base.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

/* line 2, ../sass/base/_base.scss */
body {
  line-height: 1; }

/* line 2, ../sass/base/_base.scss */
ol, ul {
  list-style: none; }

/* line 2, ../sass/base/_base.scss */
blockquote, q {
  quotes: none; }

/* line 2, ../sass/base/_base.scss */
blockquote:before, blockquote:after, q:before, q:after {
  content: none; }

/* line 2, ../sass/base/_base.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 4, ../sass/base/_base.scss */
body {
  margin: 0;
  width: 0;
  font-family: "Raleway", sans-serif; }

/* line 11, ../sass/base/_base.scss */
#container {
  height: auto;
  width: 100%;
  background-color: #FDFDFD;
  position: absolute;
  top: 0;
  left: 0;
  /* About Page Styles */ }
  /* line 20, ../sass/base/_base.scss */
  #container #topbar {
    width: 100%;
    height: 30px;
    background-color: #2B2A2C;
    color: #FDFDFD;
    position: relative; }
    /* line 28, ../sass/base/_base.scss */
    #container #topbar .topimg {
      position: absolute;
      top: 7px;
      right: 100px;
      height: 17px; }
      /* line 35, ../sass/base/_base.scss */
      #container #topbar .topimg span {
        height: 17px;
        width: 17px;
        margin-right: 10px; }
    /* line 42, ../sass/base/_base.scss */
    #container #topbar img {
      position: relative;
      height: 17px;
      width: 17px;
      top: 5px;
      color: #FDFDFD; }
    /* line 51, ../sass/base/_base.scss */
    #container #topbar p {
      font-family: "Raleway", sans-serif;
      font-weight: 400;
      font-size: 10px;
      line-height: 10px;
      position: absolute;
      right: 30px;
      top: 10px; }
  /* line 62, ../sass/base/_base.scss */
  #container #nav {
    position: relative;
    width: 100%;
    height: 50px;
    background-color: #141318;
    /* img {
    	position:absolute;
    	left:30px;
    	
    } */ }
    /* line 74, ../sass/base/_base.scss */
    #container #nav h1 {
      font-weight: 700;
      font-size: 40px;
      position: absolute;
      left: 30px;
      top: 5px; }
    /* line 82, ../sass/base/_base.scss */
    #container #nav ul {
      position: absolute;
      top: 17px;
      right: 22px; }
      /* line 88, ../sass/base/_base.scss */
      #container #nav ul li {
        color: #FDFDFD;
        font-family: "Raleway", sans-serif;
        font-weight: 400;
        font-size: 16px;
        display: inline-block;
        margin-right: 8px; }
  /* line 101, ../sass/base/_base.scss */
  #container #footer {
    background: #141318 url("../img/footer.jpg") no-repeat;
    background-size: cover;
    position: relative;
    width: 100%;
    height: 580px;
    overflow: hidden; }
    /* line 109, ../sass/base/_base.scss */
    #container #footer .footer-social {
      position: relative;
      text-align: center;
      width: 100%;
      margin: 100px 0 50px 0; }
      /* line 115, ../sass/base/_base.scss */
      #container #footer .footer-social span {
        font-size: 50px;
        padding: 5px; }
    /* line 120, ../sass/base/_base.scss */
    #container #footer .bblogo {
      position: relative;
      width: 100%;
      text-align: center;
      margin-bottom: 50px;
      height: 100px; }
    /* line 127, ../sass/base/_base.scss */
    #container #footer .footer-contact-info {
      position: relative;
      width: 100%;
      text-align: center;
      line-height: 0px;
      margin-bottom: 50px; }
      /* line 134, ../sass/base/_base.scss */
      #container #footer .footer-contact-info p {
        font-size: 18px;
        font-weight: 400; }
    /* line 139, ../sass/base/_base.scss */
    #container #footer .copyright {
      position: relative;
      width: 100%;
      text-align: center;
      font-size: 13px;
      color: #ecf0f1; }
  /* line 147, ../sass/base/_base.scss */
  #container #free-plan {
    height: 250px;
    width: 100%;
    position: relative;
    text-align: center;
    background-color: #ecf0f1;
    background: url("../img/60-lines.png") repeat; }
    /* line 156, ../sass/base/_base.scss */
    #container #free-plan h1 {
      font-size: 40px;
      position: relative;
      top: 30px;
      color: #2B2A2C; }
    /* line 162, ../sass/base/_base.scss */
    #container #free-plan p {
      font-size: 25px;
      position: relative;
      top: 50px;
      color: #2B2A2C; }
    /* line 169, ../sass/base/_base.scss */
    #container #free-plan form {
      position: relative;
      width: 100%;
      top: 50px; }
      /* line 174, ../sass/base/_base.scss */
      #container #free-plan form input[type="text"] {
        width: 380px;
        height: 50px;
        border-radius: 0;
        outline: 0 none;
        padding: 3px 3px 3px 20px;
        font-size: 20px;
        line-height: 23px;
        color: #ecf0f1;
        border: 0px; }
      /* line 186, ../sass/base/_base.scss */
      #container #free-plan form .button {
        background: #A8C73F;
        border: none;
        height: 50px;
        width: 150px;
        font-size: 20px;
        color: #FDFDFD;
        margin: -2px 0 0 -4px; }
  /* line 199, ../sass/base/_base.scss */
  #container #home-hero {
    background: #141318 url("../img/home_hero.jpg") no-repeat;
    height: 900px;
    width: 100%;
    position: relative;
    font-size: 50px;
    font-weight: 300; }
    /* line 208, ../sass/base/_base.scss */
    #container #home-hero .home-hero-tag {
      position: absolute;
      width: 500px;
      text-align: center;
      right: 0;
      top: 200px; }
    /* line 216, ../sass/base/_base.scss */
    #container #home-hero .home-hero-start {
      position: absolute;
      right: 170px;
      top: 500px;
      font-family: "Bad Script", cursive;
      font-size: 35px;
      color: #A8C73F; }
  /* line 227, ../sass/base/_base.scss */
  #container #home-about {
    position: relative;
    height: 450px;
    width: 100%;
    text-align: center; }
    /* line 234, ../sass/base/_base.scss */
    #container #home-about #home-about-img {
      height: 200px;
      width: 200px;
      position: relative;
      top: 30px;
      border-radius: 100px; }
    /* line 243, ../sass/base/_base.scss */
    #container #home-about p {
      position: absolute;
      color: #2B2A2C;
      width: 60%;
      left: 20%;
      margin-top: 60px;
      font-size: 20px;
      font-weight: 300; }
  /* line 255, ../sass/base/_base.scss */
  #container #steps {
    background: #2B2A2C url("../img/home_how_it_works.jpg") no-repeat;
    background-color: #2B2A2C;
    color: #FDFDFD;
    width: 100%;
    height: 600px;
    position: relative;
    text-align: center;
    color: #A8C73F; }
    /* line 265, ../sass/base/_base.scss */
    #container #steps a {
      color: #A8C73F; }
      /* line 268, ../sass/base/_base.scss */
      #container #steps a:hover {
        color: #FDFDFD; }
    /* line 276, ../sass/base/_base.scss */
    #container #steps .items h1 {
      position: relative;
      top: 120px;
      font-size: 60px;
      font-family: "Bad Script", cursive; }
    /* line 283, ../sass/base/_base.scss */
    #container #steps .items p {
      position: relative;
      top: 250px;
      font-size: 36px; }
    /* line 288, ../sass/base/_base.scss */
    #container #steps .items .column {
      margin-left: 2%; }
  /* line 295, ../sass/base/_base.scss */
  #container .section {
    position: relative;
    width: 100%;
    height: 650px;
    text-align: center; }
    /* line 301, ../sass/base/_base.scss */
    #container .section p {
      position: relative;
      font-size: 25px;
      color: #2B2A2C;
      top: 70px; }
    /* line 308, ../sass/base/_base.scss */
    #container .section img {
      position: relative;
      top: 115px;
      height: 470px;
      width: 800px; }
  /* line 319, ../sass/base/_base.scss */
  #container .get-started {
    background: url("../img/get_started_hero.jpg") no-repeat;
    background-size: cover; }
  /* line 324, ../sass/base/_base.scss */
  #container .coaching {
    background: url("../img/coaching_hero.jpg") no-repeat;
    background-size: cover; }
  /* line 329, ../sass/base/_base.scss */
  #container .contact {
    background: url("../img/contact_hero.jpg") no-repeat;
    background-size: cover; }
  /* line 334, ../sass/base/_base.scss */
  #container #get-started {
    position: relative;
    width: 100%;
    height: auto;
    margin-bottom: 5%; }
    /* line 341, ../sass/base/_base.scss */
    #container #get-started h1 {
      position: relative;
      font-family: "Bad Script", cursive;
      font-size: 60px;
      color: #A8C73F;
      text-align: center;
      top: 70px;
      margin-bottom: 125px; }
    /* line 351, ../sass/base/_base.scss */
    #container #get-started h2, #container #get-started h3 {
      position: relative;
      font-size: 30px;
      margin-bottom: 10px;
      text-align: center; }
    /* line 358, ../sass/base/_base.scss */
    #container #get-started p {
      position: relative;
      color: #2B2A2C;
      width: 40%;
      line-height: 1.5;
      margin-top: 40px;
      left: 30%; }
  /* line 368, ../sass/base/_base.scss */
  #container .inner-form {
    position: relative;
    height: 530px;
    width: 100%;
    background: url("../img/form_abs.jpg") no-repeat;
    background-size: cover; }
    /* line 375, ../sass/base/_base.scss */
    #container .inner-form form {
      top: 60px;
      position: relative;
      width: 50%;
      margin: 0 auto;
      font-family: "Raleway", sans-serif; }
      /* line 382, ../sass/base/_base.scss */
      #container .inner-form form input[type="text"] {
        position: relative;
        height: 50px;
        width: 100%;
        font-size: 16px;
        border: none;
        border-radius: 0; }
      /* line 391, ../sass/base/_base.scss */
      #container .inner-form form textarea {
        position: relative;
        width: 100%;
        height: 150px;
        font-size: 16px;
        font-family: "Raleway", sans-serif;
        max-height: 150px;
        max-width: 100%;
        border: none;
        border-radius: 0; }
      /* line 403, ../sass/base/_base.scss */
      #container .inner-form form .help-now {
        position: relative;
        text-align: center;
        top: 30px;
        padding: 10px 20px;
        border: 2px solid #A8C73F;
        color: #A8C73F; }
  /* line 416, ../sass/base/_base.scss */
  #container #contact {
    position: relative;
    width: 100%;
    height: auto;
    margin-bottom: 5%; }
    /* line 422, ../sass/base/_base.scss */
    #container #contact h1 {
      text-align: center;
      font-family: "Bad Script", cursive;
      font-size: 60px;
      color: #A8C73F;
      margin-top: 100px; }
    /* line 430, ../sass/base/_base.scss */
    #container #contact .fork {
      position: relative;
      margin-top: 75px; }
      /* line 434, ../sass/base/_base.scss */
      #container #contact .fork .fork-trio {
        width: 30%;
        height: 300px;
        color: #FDFDFD;
        padding: 50px 20px;
        background-color: #A8C73F; }
        /* line 441, ../sass/base/_base.scss */
        #container #contact .fork .fork-trio:hover {
          background-color: #FDFDFD;
          color: #2B2A2C;
          border: 1px solid #2B2A2C; }
        /* line 447, ../sass/base/_base.scss */
        #container #contact .fork .fork-trio h3 {
          margin-top: 60px;
          font-size: 20px;
          text-align: center; }
  /* line 458, ../sass/base/_base.scss */
  #container .specials {
    background: url("../img/specials_hero.jpg") no-repeat;
    background-size: cover; }
  /* line 463, ../sass/base/_base.scss */
  #container #bbchallengelogo {
    position: relative;
    left: 45%;
    width: 146px;
    height: 100px; }
  /* line 470, ../sass/base/_base.scss */
  #container .special-offers {
    background-color: #ecf0f1;
    margin-bottom: 70px; }
    /* line 474, ../sass/base/_base.scss */
    #container .special-offers h2 {
      position: relative;
      padding: 10px; }
    /* line 479, ../sass/base/_base.scss */
    #container .special-offers .special-text {
      color: #2B2A2C;
      padding: 10px; }
    /* line 484, ../sass/base/_base.scss */
    #container .special-offers .shop {
      position: relative;
      text-align: center;
      padding: 10px;
      width: 100px;
      border: 1px solid #A8C73F;
      color: #A8C73F;
      float: right;
      right: 20px; }
    /* line 495, ../sass/base/_base.scss */
    #container .special-offers img {
      width: 100%;
      height: auto; }
  /* line 501, ../sass/base/_base.scss */
  #container .new-stuff {
    position: relative;
    text-align: center;
    width: 20%;
    padding: 10px;
    color: #A8C73F;
    border: 1px solid #A8C73F;
    margin: 0 auto;
    margin-bottom: 70px; }
  /* line 515, ../sass/base/_base.scss */
  #container .eat-healthier {
    background: url("../img/eat_healthier_hero.jpg") no-repeat;
    background-size: cover; }
  /* line 520, ../sass/base/_base.scss */
  #container .eat-healthier-top {
    position: relative;
    margin-top: 100px;
    width: 100%;
    height: auto;
    margin-bottom: 150px; }
    /* line 527, ../sass/base/_base.scss */
    #container .eat-healthier-top h1 {
      position: relative;
      text-align: center;
      font-family: "Bad Script", cursive;
      font-size: 60px;
      color: #A8C73F; }
    /* line 535, ../sass/base/_base.scss */
    #container .eat-healthier-top h2 {
      position: relative;
      text-align: center;
      font-family: "Raleway", sans-serif;
      font-size: 30px;
      top: 40px; }
    /* line 542, ../sass/base/_base.scss */
    #container .eat-healthier-top .eat-healthier-text {
      position: relative;
      width: 40%;
      left: 30%;
      margin-bottom: 50px;
      margin-top: 100px; }
      /* line 549, ../sass/base/_base.scss */
      #container .eat-healthier-top .eat-healthier-text p {
        color: #2B2A2C; }
    /* line 553, ../sass/base/_base.scss */
    #container .eat-healthier-top a {
      color: #A8C73F;
      position: relative;
      left: 40%; }
      /* line 558, ../sass/base/_base.scss */
      #container .eat-healthier-top a .join-button {
        position: relative;
        color: #A8C73F;
        border: 2px solid #A8C73F;
        width: 300px;
        text-align: center;
        padding: 10px; }
  /* line 573, ../sass/base/_base.scss */
  #container .hero-refine {
    background: url("../img/refine_body_hero.jpg") no-repeat;
    background-size: cover; }
  /* line 578, ../sass/base/_base.scss */
  #container .center-container {
    position: relative;
    margin: 0 auto;
    width: 50%; }
    /* line 583, ../sass/base/_base.scss */
    #container .center-container h1 {
      position: relative;
      font-family: "Bad Script", cursive;
      color: #A8C73F;
      font-size: 60px;
      text-align: center;
      margin-top: 100px; }
    /* line 592, ../sass/base/_base.scss */
    #container .center-container h2 {
      position: relative;
      font-size: 30px;
      margin-top: 50px;
      color: #2B2A2C;
      text-align: center; }
    /* line 600, ../sass/base/_base.scss */
    #container .center-container .refine-para {
      position: relative;
      margin-top: 50px;
      font-size: 20px;
      color: #2B2A2C; }
    /* line 607, ../sass/base/_base.scss */
    #container .center-container li {
      list-style-type: disc;
      line-height: 2; }
    /* line 612, ../sass/base/_base.scss */
    #container .center-container .flip-container {
      position: relative;
      width: 100%; }
      /* line 616, ../sass/base/_base.scss */
      #container .center-container .flip-container .options {
        position: relative;
        width: 49.68%;
        float: left;
        color: #FDFDFD;
        text-align: center;
        padding: 10px 0 10px 0;
        border: 1px solid #A8C73F;
        z-index: 100; }
      /* line 627, ../sass/base/_base.scss */
      #container .center-container .flip-container #fit-options {
        background-color: #A8C73F;
        color: #FDFDFD; }
        /* line 632, ../sass/base/_base.scss */
        #container .center-container .flip-container #fit-options:hover {
          cursor: pointer; }
      /* line 638, ../sass/base/_base.scss */
      #container .center-container .flip-container #nut-options {
        color: #2B2A2C;
        background-color: #FDFDFD; }
        /* line 642, ../sass/base/_base.scss */
        #container .center-container .flip-container #nut-options:hover {
          cursor: pointer; }
      /* line 647, ../sass/base/_base.scss */
      #container .center-container .flip-container #flip-content {
        position: relative;
        top: 38px;
        background: #ecf0f1;
        padding: 30px;
        height: auto; }
        /* line 654, ../sass/base/_base.scss */
        #container .center-container .flip-container #flip-content p {
          color: #2B2A2C; }
      /* line 659, ../sass/base/_base.scss */
      #container .center-container .flip-container h4 {
        position: relative;
        margin-top: 70px;
        text-align: center; }
      /* line 665, ../sass/base/_base.scss */
      #container .center-container .flip-container #watch {
        position: relative;
        width: 200px;
        margin: 30px auto;
        padding: 20px 40px;
        text-align: center;
        background-color: #A8C73F; }
  /* line 680, ../sass/base/_base.scss */
  #container .about {
    background: url("../img/about_hero.jpg") no-repeat;
    background-size: cover; }
  /* line 685, ../sass/base/_base.scss */
  #container #about {
    position: relative;
    width: 100%;
    height: 820px; }
    /* line 690, ../sass/base/_base.scss */
    #container #about h1 {
      position: relative;
      text-align: center;
      margin-top: 100px;
      color: #A8C73F;
      font-family: "Bad Script", cursive;
      font-size: 60px; }
    /* line 699, ../sass/base/_base.scss */
    #container #about #about-info {
      position: relative;
      margin: 50px auto;
      width: 60%; }
      /* line 703, ../sass/base/_base.scss */
      #container #about #about-info img {
        position: relative;
        width: 365px;
        height: 528px;
        float: left; }
      /* line 709, ../sass/base/_base.scss */
      #container #about #about-info h2 {
        font-size: 30px;
        color: #2B2A2C;
        margin-bottom: 30px; }
      /* line 714, ../sass/base/_base.scss */
      #container #about #about-info p {
        color: #2B2A2C; }
  /* line 722, ../sass/base/_base.scss */
  #container #encouragement {
    position: relative;
    height: 670px;
    width: 100%;
    background: url("../img/lets_do_it.jpg") no-repeat;
    background-size: cover; }
    /* line 729, ../sass/base/_base.scss */
    #container #encouragement p {
      position: relative;
      top: 200px;
      color: #2B2A2C;
      font-size: 20px;
      text-align: center; }
  /* line 738, ../sass/base/_base.scss */
  #container #titles {
    position: relative;
    height: 200px;
    width: 20%;
    margin: 50px auto; }
    /* line 744, ../sass/base/_base.scss */
    #container #titles h1 {
      font-size: 30px;
      text-align: center; }
    /* line 749, ../sass/base/_base.scss */
    #container #titles ul {
      position: relative;
      margin-top: 20px; }
      /* line 752, ../sass/base/_base.scss */
      #container #titles ul li {
        list-style-type: disc; }
  /* line 762, ../sass/base/_base.scss */
  #container #hero {
    height: 400px;
    width: 100%; }
  /* line 767, ../sass/base/_base.scss */
  #container .hero-inner {
    position: relative;
    height: 400px;
    width: 100%; }
  /* line 774, ../sass/base/_base.scss */
  #container a {
    color: #FDFDFD;
    text-decoration: none; }
    /* line 778, ../sass/base/_base.scss */
    #container a:hover {
      color: #A8C73F; }
  /* line 783, ../sass/base/_base.scss */
  #container p {
    color: #FDFDFD; }

/*
* Skeleton V2.0.4
* Copyright 2014, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 12/29/2014
*/
/* Table of contents
ΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇô
- Grid
- Base Styles
- Typography
- Links
- Buttons
- Forms
- Lists
- Code
- Tables
- Spacing
- Utilities
- Clearing
- Media Queries
*/
/* Grid
ΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇô */
/* line 31, ../sass/layout/_layout.scss */
.container {
  position: relative;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box; }

/* line 38, ../sass/layout/_layout.scss */
.column,
.columns {
  width: 100%;
  float: left;
  box-sizing: border-box; }

/* For devices larger than 400px */
@media (min-width: 400px) {
  /* line 46, ../sass/layout/_layout.scss */
  .container {
    width: 85%;
    padding: 0; } }
/* For devices larger than 550px */
@media (min-width: 550px) {
  /* line 53, ../sass/layout/_layout.scss */
  .container {
    width: 80%; }

  /* line 55, ../sass/layout/_layout.scss */
  .column,
  .columns {
    margin-left: 4%; }

  /* line 58, ../sass/layout/_layout.scss */
  .column:first-child,
  .columns:first-child {
    margin-left: 0; }

  /* line 62, ../sass/layout/_layout.scss */
  .one.column,
  .one.columns {
    width: 4.66666666667%; }

  /* line 64, ../sass/layout/_layout.scss */
  .two.columns {
    width: 13.3333333333%; }

  /* line 65, ../sass/layout/_layout.scss */
  .three.columns {
    width: 22%; }

  /* line 66, ../sass/layout/_layout.scss */
  .four.columns {
    width: 30.6666666667%; }

  /* line 67, ../sass/layout/_layout.scss */
  .five.columns {
    width: 39.3333333333%; }

  /* line 68, ../sass/layout/_layout.scss */
  .six.columns {
    width: 48%; }

  /* line 69, ../sass/layout/_layout.scss */
  .seven.columns {
    width: 56.6666666667%; }

  /* line 70, ../sass/layout/_layout.scss */
  .eight.columns {
    width: 65.3333333333%; }

  /* line 71, ../sass/layout/_layout.scss */
  .nine.columns {
    width: 74.0%; }

  /* line 72, ../sass/layout/_layout.scss */
  .ten.columns {
    width: 82.6666666667%; }

  /* line 73, ../sass/layout/_layout.scss */
  .eleven.columns {
    width: 91.3333333333%; }

  /* line 74, ../sass/layout/_layout.scss */
  .twelve.columns {
    width: 100%;
    margin-left: 0; }

  /* line 76, ../sass/layout/_layout.scss */
  .one-third.column {
    width: 30.6666666667%; }

  /* line 77, ../sass/layout/_layout.scss */
  .two-thirds.column {
    width: 65.3333333333%; }

  /* line 79, ../sass/layout/_layout.scss */
  .one-half.column {
    width: 48%; }

  /* Offsets */
  /* line 82, ../sass/layout/_layout.scss */
  .offset-by-one.column,
  .offset-by-one.columns {
    margin-left: 8.66666666667%; }

  /* line 84, ../sass/layout/_layout.scss */
  .offset-by-two.column,
  .offset-by-two.columns {
    margin-left: 17.3333333333%; }

  /* line 86, ../sass/layout/_layout.scss */
  .offset-by-three.column,
  .offset-by-three.columns {
    margin-left: 26%; }

  /* line 88, ../sass/layout/_layout.scss */
  .offset-by-four.column,
  .offset-by-four.columns {
    margin-left: 34.6666666667%; }

  /* line 90, ../sass/layout/_layout.scss */
  .offset-by-five.column,
  .offset-by-five.columns {
    margin-left: 43.3333333333%; }

  /* line 92, ../sass/layout/_layout.scss */
  .offset-by-six.column,
  .offset-by-six.columns {
    margin-left: 52%; }

  /* line 94, ../sass/layout/_layout.scss */
  .offset-by-seven.column,
  .offset-by-seven.columns {
    margin-left: 60.6666666667%; }

  /* line 96, ../sass/layout/_layout.scss */
  .offset-by-eight.column,
  .offset-by-eight.columns {
    margin-left: 69.3333333333%; }

  /* line 98, ../sass/layout/_layout.scss */
  .offset-by-nine.column,
  .offset-by-nine.columns {
    margin-left: 78.0%; }

  /* line 100, ../sass/layout/_layout.scss */
  .offset-by-ten.column,
  .offset-by-ten.columns {
    margin-left: 86.6666666667%; }

  /* line 102, ../sass/layout/_layout.scss */
  .offset-by-eleven.column,
  .offset-by-eleven.columns {
    margin-left: 95.3333333333%; }

  /* line 105, ../sass/layout/_layout.scss */
  .offset-by-one-third.column,
  .offset-by-one-third.columns {
    margin-left: 34.6666666667%; }

  /* line 107, ../sass/layout/_layout.scss */
  .offset-by-two-thirds.column,
  .offset-by-two-thirds.columns {
    margin-left: 69.3333333333%; }

  /* line 110, ../sass/layout/_layout.scss */
  .offset-by-one-half.column,
  .offset-by-one-half.columns {
    margin-left: 52%; } }
/* Forms
ΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇô */
/* line 118, ../sass/layout/_layout.scss */
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea,
select {
  height: 38px;
  padding: 6px 10px;
  /* The 6px vertically centers text on FF, ignored by Webkit */
  background-color: #fff;
  border: 1px solid #D1D1D1;
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box; }

/* Removes awkward default styles on some inputs for iOS */
/* line 135, ../sass/layout/_layout.scss */
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

/* line 146, ../sass/layout/_layout.scss */
textarea {
  min-height: 65px;
  padding-top: 6px;
  padding-bottom: 6px; }

/* line 150, ../sass/layout/_layout.scss */
input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
textarea:focus,
select:focus {
  border: 1px solid #33C3F0;
  outline: 0; }

/* line 161, ../sass/layout/_layout.scss */
label,
legend {
  display: block;
  margin-bottom: .5rem;
  font-weight: 600; }

/* line 166, ../sass/layout/_layout.scss */
fieldset {
  padding: 0;
  border-width: 0; }

/* line 169, ../sass/layout/_layout.scss */
input[type="checkbox"],
input[type="radio"] {
  display: inline; }

/* line 172, ../sass/layout/_layout.scss */
label > .label-body {
  display: inline-block;
  margin-left: .5rem;
  font-weight: normal; }

/* Spacing
ΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇô */
/* line 181, ../sass/layout/_layout.scss */
button,
.button {
  margin-bottom: 1rem; }

/* line 184, ../sass/layout/_layout.scss */
input,
textarea,
select,
fieldset {
  margin-bottom: 1.5rem; }

/* line 189, ../sass/layout/_layout.scss */
pre,
blockquote,
dl,
figure,
table,
p,
ul,
ol,
form {
  margin-bottom: 2.5rem; }

/* Utilities
ΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇô */
/* line 203, ../sass/layout/_layout.scss */
.u-full-width {
  width: 100%;
  box-sizing: border-box; }

/* line 206, ../sass/layout/_layout.scss */
.u-max-full-width {
  max-width: 100%;
  box-sizing: border-box; }

/* line 209, ../sass/layout/_layout.scss */
.u-pull-right {
  float: right; }

/* line 211, ../sass/layout/_layout.scss */
.u-pull-left {
  float: left; }

/* Misc
ΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇô */
/* line 217, ../sass/layout/_layout.scss */
hr {
  margin-top: 3rem;
  margin-bottom: 3.5rem;
  border-width: 0;
  border-top: 1px solid #E1E1E1; }

/* Clearing
ΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇô */
/* Self Clearing Goodness */
/* line 228, ../sass/layout/_layout.scss */
.container:after,
.row:after,
.u-cf {
  content: "";
  display: table;
  clear: both; }

/* Media Queries
ΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇô */
/*
Note: The best way to structure the use of media queries is to create the queries
near the relevant code. For example, if you wanted to change the styles for buttons
on small devices, paste the mobile query code up in the buttons section and style it
there.
*/
/* Larger than mobile */
/* Larger than phablet (also point when grid becomes active) */
/* Larger than tablet */
/* Larger than desktop */
/* Larger than Desktop HD */
