/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}

body {
	margin:0;
	width:0;

	font-family: $body-font;
}

#container {
height:auto;
width:100%;
background-color: $white;
position: absolute;
top:0;
left:0;

	//Header Styles
	#topbar {
		width:100%;
		height: 30px;
		background-color: $dark-grey;
		color: $white;

		position:relative;
		
		.topimg {
			position:absolute;
			top:7px;
			right:100px;
			height:17px;


			span {
			height:17px;
			width:17px;
			margin-right:10px;
			}
		}

		img {
			position:relative;
			height:17px;
			width:17px;
			top: 5px;

			color:$white;
		}

		p {
			font-family: $body-font;
			font-weight: $body-normal;
			font-size:10px;
			line-height:10px;
			position:absolute;
			right:30px;
			top: 10px;
		}
	}

	#nav {
		position:relative;
		width:100%;
		height:50px;
		background-color: $black;
		
		/* img {
			position:absolute;
			left:30px;
			
		} */

		h1 {
			font-weight:$body-bold;
			font-size: 40px;
			position:absolute;
			left:30px;
			top:5px;
		}

		ul {
			position:absolute;
			top:17px;
			right:22px;


			li {
				color:$white;
				font-family: $body-font;
				font-weight: $body-normal;
				font-size:16px;

				display:inline-block;
				margin-right:8px;
			}
		}
	}

	//Footer Styles
		#footer {
			background:$black url('../img/footer.jpg') no-repeat;
			background-size:cover;
			position:relative;
			width:100%;
			height:580px;
			overflow:hidden;

			.footer-social {
				position:relative;
				text-align:center;
				width:100%;
				margin: 100px 0 50px 0;

				span {
					font-size:50px;
					padding:5px;
				}
			}
			.bblogo {
				position:relative;
				width:100%;
				text-align:center;
				margin-bottom: 50px;
				height:100px;
			}
			.footer-contact-info {
				position:relative;
				width:100%;
				text-align:center;
				line-height:0px;
				margin-bottom: 50px;

				p {
					font-size:18px;
					font-weight:$body-normal;
				}
			}
			.copyright {
				position:relative;
				width:100%;
				text-align: center;
				font-size: 13px;
				color: $light-grey;
			}
		}
		#free-plan {
			height:250px;
			width:100%;
			position:relative;
			text-align:center;
			// margin-top:100px;
			background-color:$light-grey;
			background:url('../img/60-lines.png') repeat;

			h1 {
				font-size:40px;
				position:relative;
				top:30px;
				color:$dark-grey;
			}
			p {
				font-size:25px;
				position:relative;
				top:50px;
				color:$dark-grey;
			}

			form {
				position:relative;
				width:100%;
				top:50px;

				input[type="text"] {
					width:380px;
					height:50px;
					border-radius:0;
					outline:0 none;
					padding:3px 3px 3px 20px;
					font-size:20px;
					line-height:23px;
					color:$light-grey;
					border:0px;
				}

				.button {
					background:$green;
					border:none;
					height:50px;
					width:150px;
					font-size:20px;
					color:$white;
					margin:-2px 0 0 -4px;
				}
			}
		}

		//Hero Styles
		#home-hero {
			background: $black url('../img/home_hero.jpg') no-repeat;
			height:900px;
			width:100%;
			position:relative;
				
			font-size:50px;
			font-weight:$body-light;

			.home-hero-tag {
				position:absolute;
				width:500px;
				text-align:center;
				right:0;
				top:200px;
			}

			.home-hero-start {
				position:absolute;
				right:170px;
				top:500px;
				
				font-family:$head-font;
				font-size:35px;
				color:$green;
			}
		}
		//Home About
		#home-about {
			position:relative;
			height:450px;
			width:100%;

			text-align:center;

			#home-about-img {
				height:200px;
				width:200px;
				position:relative;
				top:30px;

				border-radius:100px;
			}

			p {
				position:absolute;
				color:$dark-grey;
				width:60%;
				left:20%;
				margin-top:60px;

				font-size:20px;
				font-weight:$body-light;
			}
		}

		#steps {
			background:$dark-grey url() no-repeat;
			background-color: $dark-grey;
			color: $white;
			width:100%;
			height:600px;
			position:relative;
			text-align:center;
			color:$green;

			a {
				color:$green;

				&:hover {
					color:$white;
				}
			}


			.items {

				h1 {
					position: relative;
					top:120px;
					font-size:60px;
					font-family:$head-font;
				}

				p {
					position:relative;
					top:250px;
					font-size:36px;
				}
				.column {
					margin-left:2%;
				}

			}
		}

		.section {
			position:relative;
			width:100%;
			height:650px;
			text-align:center;

			p {
				position: relative;
				font-size:25px;
				color:$dark-grey;
				top:70px;
			}

			img {
				position:relative;
				top:115px;
			}
		}

		//Get Started Page Styles

		
		.get-started {
			background:url('../img/get_started_hero.jpg') no-repeat;
			background-size:cover;
		}

		.coaching {
			background: url('../img/coaching_hero.jpg.') no-repeat;
			background-size:cover;
		}

		.contact {
			background:url(../img/contact_hero.jpg) no-repeat;
			background-size: cover;
		}

		#get-started {
			position:relative;
			width:100%;
			height:auto;
			margin-bottom:5%;


			h1 {
				position:relative;
				font-family:$head-font;
				font-size:60px;
				color:$green;
				text-align:center;
				top:70px;
				margin-bottom:125px;
			}

			h2, h3 {
				position:relative;
				font-size:30px;
				margin-bottom:10px;
				text-align:center;
			}

			p {
				position:relative;
				color:$dark-grey;
				width:40%;
				line-height:1.5;
				margin-top:40px;
				left:30%;
			}
		}

		.inner-form {
			position:relative;
			height:530px;
			width:100%;
			background:url('../img/form_abs.jpg') no-repeat;
			background-size:cover;

			form {
				top:60px;
				position:relative;
				width:50%;
				margin:0 auto;
				font-family:$body-font;

				input[type="text"] {
					position:relative;
					height:50px;
					width:100%;
					font-size:16px;
					border:none;
					border-radius:0;
				}

				textarea {
					position:relative;
					width:100%;
					height:150px;
					font-size:16px;
					font-family:$body-font;
					max-height:150px;
					max-width:100%;
					border:none;
					border-radius:0;
				}

				.help-now {
					position:relative;
					text-align:center;
					top:30px;
					padding:10px 20px;
					border:2px solid $green;
					color:$green;
				}
			}
		}

		//Contact Page Styles

		#contact {
			position:relative;
			width:100%;
			height:auto;
			margin-bottom:5%;

			h1 {
				text-align:center;
				font-family: $head-font;
				font-size:60px;
				color:$green;
				margin-top:100px;
			}

			.fork {
				position:relative;
				margin-top:75px;

				.fork-trio {
					width:30%;
					height: 300px;
					border: 1px solid $dark-grey;
					color:$dark-grey;
					padding: 50px 20px;

					&:hover {
						background-color:$green;
						color:$white;
						border: 1px solid $green;
					}
				}
			}
		}

		// Specials Page Styles

		.specials {
			background:url('../img/specials_hero.jpg') no-repeat;
			background-size: cover;
		}
		
		#bbchallengelogo {
			position:relative;
			left:45%;
			width:146px;
			height:100px;
		}

		.special-offers {
			background-color:$light-grey;
			margin-bottom:70px;

			h2 {
				position:relative;
				padding:10px;
			}

			.special-text {
				color:$dark-grey;
				padding:10px;
			}

			.shop {
				position:relative;
				text-align:center;
				padding:10px;
				width:100px;
				border:1px solid $green;
				color:$green;
				float:right;
				right:20px;
			}

			img {
				width:100%;
				height:auto;
			}
		}

		.new-stuff {
			position:relative;
			text-align:center;
			width:20%;
			padding:10px;
			color:$green;
			border:1px solid $green;
			margin:0 auto;
			margin-bottom:70px
		}


		//Eat Healthier Page Styles

		.eat-healthier {
			background:url('../img/eat_healthier_hero.jpg') no-repeat;
			background-size:cover;
		}

		.eat-healthier-top {
			position:relative;
			top:100px;
			width:100%;
			height:auto;
			margin-bottom:150px;

			h1 {
				position:relative;
				text-align:center;
				font-family:$head-font;
				font-size:60px;

				color:$green;
			}
			h2 {
				position:relative;
				text-align: center;
				font-family:$body-font;
				font-size:30px;
				top:40px;
			}
			.eat-healthier-text {
				position:relative;
				width:40%;
				left:30%;
				margin-bottom:50px;
				margin-top:100px;

				p {
					color:$dark-grey;
				}
			}
			a {
				color:$green;
				position:relative;
				left:40%;

				.join-button {
					position:relative;
					color:$green;
					border: 2px solid $green;
					width:300px;
					text-align:center;
					padding:10px;
					
				}
			}
		}


	//Refine Your Body Page Styles

	.hero-refine {
		background:url('../img/refine_body_hero.jpg') no-repeat;
		background-size:cover;
	}

	.center-container {
		position:relative;
		margin:0 auto;
		width:50%;

		h1 {
			position:relative;
			font-family:$head-font;
			color:$green;
			font-size:60px;
			text-align: center;
			margin-top:100px;
		}

		h2 {
			position:relative;
			font-size:30px;
			margin-top:50px;
			color:$dark-grey;
			text-align: center;
		}

		.refine-para {
			position:relative;
			margin-top:50px;
			font-size:20px;
			color:$dark-grey;
		}

		li {
			list-style-type: disc;
			line-height:2;
		}

		.flip-container {
			position:relative;
			width:100%;

			.options {
				position:relative;
				width:49.68%;
				float:left;
				color:$white;
				text-align:center;
				padding:10px 0 10px 0;
				border: 1px solid $green;
				z-index:100;
			}

			#fit-options {
				
				background-color:$green;
				
			}

			#flip-content {
				position:relative;
				top:38px;
				background:$light-grey;
				padding:30px;
				height:auto;

				p {
					color:$dark-grey;
				}
			}

			h4 {
				position:relative;
				margin-top:70px;
				text-align:center;
			}

			#watch {
				position:relative;
				width:200px;
				margin:30px auto;
				padding:20px 40px;
				text-align:center;
				background-color:$green;
			}

			
		}
	}



	//General Styles


	#hero {
		height:400px;
		width:100%;
	}

	.hero-inner {
			position:relative;
			height:400px;
			width:100%;
	}


	a {
		color:$white;
		text-decoration:none;

		&:hover {
			color:$green;
		}
	}

	p {
		color:$white;
	}
}

