/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}

body {
	margin:0;
	width:0;

	font-family: $body-font;
}

#container {
height:auto;
width:100%;
background-color: $white;
position: absolute;
top:0;
left:0;

	//Header Styles
	#topbar {
		width:100%;
		height: 30px;
		background-color: $dark-grey;
		color: $white;

		position:relative;
		
		.topimg {
			position:absolute;
			top:7px;
			right:100px;
			height:17px;


			span {
			height:17px;
			width:17px;
			margin-right:10px;
			}
		}

		img {
			position:relative;
			height:17px;
			width:17px;
			top: 5px;

			color:$white;
		}

		p {
			font-family: $body-font;
			font-weight: $body-normal;
			font-size:10px;
			line-height:10px;
			position:absolute;
			right:30px;
			top: 10px;
		}
	}

	#nav {
		position:relative;
		width:100%;
		height:50px;
		background-color: $black;
		
		/* img {
			position:absolute;
			left:30px;
			
		} */

		h1 {
			font-weight:$body-bold;
			font-size: 40px;
			position:absolute;
			left:30px;
			top:5px;
		}

		ul {
			position:absolute;
			top:17px;
			right:22px;


			li {
				color:$white;
				font-family: $body-font;
				font-weight: $body-normal;
				font-size:16px;

				display:inline-block;
				margin-right:8px;
			}
		}
	}

	//Footer Styles
		#footer {
			background:$black url('../img/footer_bg.png') no-repeat;
			background-size:cover;
			position:relative;
			width:100%;
			height:580px;
			overflow:hidden;

			.footer-social {
				position:relative;
				text-align:center;
				width:100%;
				margin: 100px 0 50px 0;

				span {
					font-size:50px;
					padding:5px;
				}
			}
			.bblogo {
				position:relative;
				width:100%;
				text-align:center;
				margin-bottom: 50px;
				height:100px;
			}
			.footer-contact-info {
				position:relative;
				width:100%;
				text-align:center;
				line-height:0px;
				margin-bottom: 50px;

				p {
					font-size:18px;
					font-weight:$body-normal;
				}
			}
			.copyright {
				position:relative;
				width:100%;
				text-align: center;
				font-size: 13px;
				color: $light-grey;
			}
		}

	//General Styles
	a {
		color:$white;
		text-decoration:none;

		&:hover {
			color:$green;
		}
	}

	p {
		color:$white;
	}
}

